body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
    color: #333;
    text-align: center;
}

header {
    background-color: #000;
    color: white;
    padding: 1px;
    margin-bottom: 0;
}

.logo-container {
    padding-bottom: 0px;
    padding-top: 10px;
}

#company-logo {
    height: 100px;
    width: auto;
}

h1 {
    margin-top: 5px;
    margin-bottom: 0;
}

h3 {
    margin-top: 0px;
    margin-bottom: 20px;
}

h4 {
    margin-top: 10px;
    margin-bottom: 0px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#slogan-container {
    background-color: #f0f0f0;
    padding: 15px;
    margin-bottom: 20px;
    color: #555;
    font-size: 1.1em;
}

#map-container {
    width: 95%;
    max-width: 10000px;
    margin: 10px auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    border-radius: 5px;
    overflow: hidden;
}

#mapid {
    height: 450px; 
    width: 100%;
}

.card {
    background-color: white;
    width: 95%;
    max-width: 10000px;
    margin: 10px auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

#nearest-outlet-name {
    font-size: 1.2em;
    font-weight: bold;
    color: #004d40;
}

#nearest-outlet-link a {
    color: #004d40;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #004d40;
    padding: 5px 10px;
    border-radius: 4px;
    display: inline-block;
    margin-top: 0px;
    transition: background-color 0.3s;
}

#nearest-outlet-link a:hover {
    background-color: #004d40;
    color: white;
}

.leaflet-popup-content {
    text-align: center;
}